@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.tailwindcss.com');

body {
  font-family: 'Inter', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}